* {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@font-face {
  font-family: 'Atlasgrot';
  src: url(assets/fonts/AtlasGrotesk-Medium.otf);
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 30px;
}

#papertime {
  color: #FAFAFF;
}

#ghub {
  color: white;
}

.socialnow {
  fill: #FAFAFF;
}

.header {
  width: 100%;
  height: 60px;
  background-color: black;
  position: sticky;
  top: 0px;
  z-index: 5;
}

.epicon {
  width: 200px;
  height: 50px;
  margin-left: 25px;
  padding-top: 10px;
}

.iconic {
  height: 40px;
}

#main {
  height: 88vh;
  width: 100%;
  background-image: url(assets/passing.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bigtitle {
  font-family: Atlasgrot;
  font-size: 12em;
  color: white;
}

.topabout {
  width: 100%;
  background: linear-gradient(122.78deg, #DA7676 23.21%, #DA9D7B 74.4%);
}

.video {
  width: 85%;
  margin: auto;
  margin-top: 8vh;
  margin-bottom: 15vh;
}

#bighold {
  width: 1000px;
  margin: auto;
  padding-top: 12vh;
}

#buttonhold {
  display: inline-flex;
  margin-top: 8vh;
}

#rouge {
  background: linear-gradient(151.83deg, #DA9D7B 12.98%, #DA7676 83.33%);
  color: white;
  margin-left: 20px;
}

.how {
  width: 60%;
  margin-left: 20%;
  margin-top: 23vh;
  margin-bottom: 23vh;
  display: inline-flex;
}

.how>div {
  display: inherit;
}

.icona{
  padding-top: 20px;
}

.match {
  height: 80px;
}

.lined {
  border: 0.5px solid white;
  margin-left: 20px;
  margin-right: 20px;
  height: 120px;
}

.pertain {
  font-family: "Atlasgrot", sans-serif;
  font-size: 16px;
  color: white;
  margin: auto;
}

#rougea {
  background: linear-gradient(151.83deg, #DA9D7B 12.98%, #DA7676 83.33%);
  color: white;
  width: 165px;
  margin-top: 20px;
}

/*gifrows*//*gifrows*//*gifrows*//*gifrows*//*gifrows*/
.colslant {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: #FAFAFF;
}

.twocolhold {
  width: 1200px;
  margin: auto;
}

.twocol {
  display: inline-flex;
}

.colit {
  width: 600px;
  display: inherit;
}

.giftext {
   margin: auto; /* Important */
   font-family: "Atlasgrot", sans-serif;
}

.deadprez {
  width: 475px;
  margin: auto;
}

#slantb {
  background-color: white;
}

.isorow {
  /*display: block;*/
  padding-top: 15vh;
  clear: both;
}

.parabout {
  position: relative;
  float: right;
  width: 700px;
  padding: 120px;
  background: linear-gradient(280.09deg, #E7E3D2 -3.06%, #9F9183 128.2%);
  font-family: Atlasgrot;
  font-size: 20px;
  color: white;
  z-index: 3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.moneyshot {
  position: relative;
  width: 800px;
  margin-top: 20vh;
  clear: none;
}

#tworow {
  /*padding-top: 700px;*/
  width: 100%;
  margin-top: -200px;
  /*margin-bottom: 1100px;*/
}

#lefty {
  float: left;
}

#righty {
  /*right: 300px;*/
top: -200px;
margin-left: 300px;
  /*margin-right: 100px;*/
}

#upit {
  top: -200px;
}

#arounda {
  height: 30vh;
  width: 100%;
  background: linear-gradient(290.39deg, #000000 1.44%, #434038 111.87%);
}

#moodlight {
  width: 100%;
  height: 20vh;
  background-color: black;
}

#onetime {
  margin-bottom: -200px;
}

.footer {
  background-color: #FAFAFF;
  color: white;
  height: 20vh;
  font-family: Atlasgrot;
}

.moreabout {
  width: 1200px;
  margin: auto;
}

#blackwrap {
  background: linear-gradient(173.58deg, #000000 0.77%, rgba(70, 70, 70, 0) 85.57%);
}

.wordy {
  font-family: Atlasgrot;
  font-size: 16px;
  color: white;
}

.documented {
  width: 900px;
}

.somehold {
  margin: auto;
  width: 700px;
  padding: 120px;
  background: linear-gradient(280.09deg, #E7E3D2 -3.06%, #9F9183 128.2%);
  font-family: Atlasgrot;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20vh;
}

.graddues {
  font-family: Atlasgrot;
  font-size: 16px;
  color: white;
}

#diagramhold {
  width: 300px;
  margin: auto;
  font-family: Atlasgrot;
  padding-top: 20vh;
  display: none;
}

.diagramaa {
  width: 300px;
}

.diagramtext {
  text-align: center;
  padding: 15px;
}

.arrowdown {
  width: 45px;
  margin: auto;
}

.arrowsize {
  width: 45px;
}

.diagramlabel {
  padding: 15px;
  border-radius: 5px;
  color: white;
  background-color: black;
  width: 150px;
  margin-left: 75px;
  text-align: center;
}

.arrowright {
  position: relative;
  left: 220px;
  top: -40px;
  margin-bottom: -80px;
  width: 45px;
}

.rightsize {
  width: 80px;
}

#showup {
  text-align: left;
  display: inline-flex;
  width: 180px;
  margin-left: 60px;
  padding: 3px;
}

#epio {
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  float: right;
  margin-left: 31px;
}

#epiosize {
  width: 60px;
}

#healthword {
  margin: 10px;
}

.arrowleft {
  position: relative;
  top: -40px;
  margin-bottom: -70px;
}

#coppyr {
  padding-top: 10vh;
  margin-left: 25px;
  font-size: 10px;
}

#diagramcap {
  width: 300px;
  margin: auto;
  background-color: white;
  padding: 20px;
  font-family: Atlasgrot;
  font-size: 16px;
  margin-top: 2.5%;
}

#colorbig {
  background: linear-gradient(120.67deg, #E9EAF3 12.98%, #D2D4E7 83.33%);
  padding-top: 20vh;
  padding-bottom: 20vh;
}

#diagramhere {
  width: 1200px;
  margin: auto;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 15vh;
  padding-bottom: 15vh;
}

#dag {
  width: 400px;
}

#barit {
  border-left: 1px solid black;
}

#disp {
  display: inline-flex;
  padding-top: 80px;
  padding-bottom: 80px;
}

#leftdia {
  width: 600px;
  padding-left: 50px;
  padding-right: 50px;
}

#rightdesciption {
  width: 600px;
  float: right;
  padding: 80px;
  font-family: Atlasgrot;
  border-left: 1px solid black;
}

#curly {
  width: 500px;
}

#diagramcap {
  display: none;
  padding-top: 80px;
  padding-bottom: 80px;
}

.variablespace {
  width: 70%;
  margin: auto;
  background-color: white;
  min-width: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

#calpage {
  color: white;
  text-decoration: underline;
  font-family: bureau-grot, sans-serif;
  font-weight: 500;
}


/*ways to help*/

.helpme {
  margin-bottom: 15vh;
}

#centerlane {
  margin-top: 25vh;
  margin-bottom: 8vh;
}

#centerme {
  width: 450px;
  font-family: "Atlasgrot", sans-serif;
  text-align: center; /*Important*/
  margin: auto;
}

#markleft {
  border-left: 1px solid black;
}

.deadpreza {
  width: 350px;
  margin: auto;
}

.deadprezb {
  width: 260px;
  margin: auto;
}

#through {
  background-color: transparent;
  color: #FAFAFF;
}

.newbutt {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  background-color: white;
  font-family: "Atlasgrot", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  color: #DA7676;
  text-align: center;
  border: 1px solid #E9EAF3;
  margin-bottom: 5vh;
}

#gitclone {
  font-family: monospace;
  background-color: #DA7676;
  color: #E9EAF3;
  padding-top: 14px;
  padding-bottom: 14px;
}

.tri {
  width: 100%;
  height: 0px;
  border-style: solid;
  border-width: 0 100vw 60px 0;
  border-color: transparent #FAFAFF transparent transparent;
}

.tritop {
  width: 100%;
  height: 0px;
  border-style: solid;
  border-width: 60px 0 0 100vw;
  border-color: transparent transparent transparent #FAFAFF;
}

@media only screen and (max-width: 1200px) {

  .epicon {
    margin-left: 3%;
  }

  #bigtitle {
    font-size: 140px;
  }

  #bighold {
    width: 95%;
    padding-top: 20vh;
  }

  #buttonhold {
    display: inline-flex;
    margin-top: 4vh;
  }

  .button {
    width: 140px;
  }

  #rouge {
    width: 220px;
    margin-left: 0px;
    margin-top: 4vh;
  }

  .topabout {
    height: auto;
  }

  .how {
    width: 90%;
    margin: auto;
    display: block;
  }

  .icona{
    padding-top: 10vh;
    width: 80px;
    margin: auto;
  }

  .lined {
    border: 0.5px solid white;
    margin-left: 5%;
    margin-right: 5%;
    height: 0px;
    margin-top: 10vh;
  }

  .pertain {
    font-family: Atlasgrot;
    font-size: 16px;
    color: white;
    padding: 10px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 90%;
    margin: auto;

  }

  iframe {
    width: 100%;
    height: 300px;
  }

  .isorow {
    /*display: inline-block;*/
    position: static;
    clear: both;
    float: none;
    padding-top: 0px;
  }

#onetime {
  position: static;
  float: none;
}

  .moreabout {
    width: 90%;
    margin: auto;
  }

  .parabout {
    position: static;
    position: relative;
    float: right;
    width: 95%;
    padding: 80px;
    margin-bottom: -20px;
    z-index: 3;
    margin-top: 15vh;
    max-width: 500px;
  }

  #upit {
    position: static;
    margin-top: 0px;
    top: 0px;
  }

  .moneyshot {
    position: static;
    position: relative;
    float: none;
    width: 95%;
    z-index: -1;
    bottom: 0px;
  }

  .documented {
    width: 100%;
  }
  #tworow {
    margin-top: 0px;
    padding-top: 0px;
  }

  #lefty {
    float: right;
  }

  #righty {
    /*right: 300px;*/
  margin-left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-bottom: 15vh;
    /*margin-right: 100px;*/
  }

  .wordy {
    font-size: 16px;
  }

  .somehold {
    width: 100%;
  }

  #diagramhold {
    display: block;
    background-color: white;
    padding-top: 0px;
    border-radius: 2px;
  }

  #colorbright {
    background: linear-gradient(120.67deg, #E9EAF3 12.98%, #D2D4E7 83.33%);
    padding-top: 8%;
    padding-bottom: 8%;
    clear: both;
  }

  #colorbig {
    display: none;
  }

  #diagramcap {
    display: block;
  }

  #diagramhere {
    display: none;
  }

  #disp {
    display: none;
  }

  #curly {
    display: none;
  }

  #arounda {
    height: auto;
  }

  .twocolhold {
    width: 80%;
    margin: auto;
  }

  .twocol {
    display: block;
  }

  .colit {
    width: 100%;
  }

  div[class*="deadprez"] {
    max-width: 475px;
    width: 100%;
  }

  .gifsizs {
    max-width: 475px;
    width: 100%;
  }

  #markleft {
    border-left: none;
  }

  #buttonhold {
    display: block;
    margin-top: 4vh;
  }

  #centerme {
    max-width: 475px;
    width: 100%;
  }

}

@media only screen and (max-width: 800px) {

  #bigtitle {
    font-size: 100px;
  }


}

@media only screen and (max-width: 600px) {

  #bigtitle {
    font-size: 80px;
  }

  .parabout {
    padding: 40px;
  }


}

@media only screen and (max-width: 400px) {

  #bigtitle {
    font-size: 60px;
  }

  .parabout {
    padding: 10px;
  }

  .twocolhold {
    width: 95%;
    margin: auto;
  }

}
