* {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@font-face {
  font-family: 'Atlasgrot';
  src: url(assets/fonts/AtlasGrotesk-Medium.otf);
}

a {
  text-decoration: none;
}

#papertime {
  color: #DA7676;
}

#ghub {
  color: white;
}

.header {
  width: 100%;
  height: 60px;
  background-color: black;
  position: sticky;
  top: 0px;
  z-index: 5;
}

.epicon {
  width: 200px;
  height: 50px;
  margin-left: 25px;
  padding-top: 10px;
}

.iconic {
  height: 40px;
}

#main {
  height: 100vh;
  width: 100%;
  background-image: url(assets/passing.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bigtitle {
  font-family: Atlasgrot;
  font-size: 12em;
  color: white;
}

.topabout {
  height: 30vh;
  width: 100%;
  background: linear-gradient(122.78deg, #DA7676 23.21%, #DA9D7B 74.4%);
}

#bighold {
  width: 1000px;
  margin: auto;
  padding-top: 12vh;
}

#buttonhold {
  display: inline-flex;
  margin-top: 8vh;
}

.button {
  display: inherit;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  font-family: bureau-grot, sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  color: #DA7676;
}

#rouge {
  background: linear-gradient(151.83deg, #DA9D7B 12.98%, #DA7676 83.33%);
  color: white;
  margin-left: 20px;
}

.how {
  width: 60%;
  margin-left: 20%;
  margin-top: 8vh;
  display: inline-flex;
}

.how>div {
  display: inherit;
}

.icona{
  padding-top: 20px;
}

.match {
  height: 80px;
}

.lined {
  border: 0.5px solid white;
  margin-left: 20px;
  margin-right: 20px;
  height: 120px;
}

.pertain {
  font-family: Atlasgrot;
  font-size: 16px;
  color: white;
  padding-top: 20px;
}

#rougea {
  background: linear-gradient(151.83deg, #DA9D7B 12.98%, #DA7676 83.33%);
  color: white;
  width: 165px;
  margin-top: 20px;
}

.isorow {
  /*display: block;*/
  padding-top: 15vh;
  clear: both;
}

.parabout {
  position: relative;
  float: right;
  width: 700px;
  padding: 120px;
  background: linear-gradient(280.09deg, #E7E3D2 -3.06%, #9F9183 128.2%);
  font-family: Atlasgrot;
  font-size: 20px;
  color: white;
  z-index: 3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.moneyshot {
  position: relative;
  width: 800px;
  margin-top: 20vh;
  clear: none;
}

#tworow {
  /*padding-top: 700px;*/
  width: 100%;
  margin-top: -200px;
  /*margin-bottom: 1100px;*/
}

#lefty {
  float: left;
}

#righty {
  /*right: 300px;*/
top: -200px;
margin-left: 300px;
  /*margin-right: 100px;*/
}

#upit {
  top: -200px;
}

#arounda {
  height: 30vh;
  width: 100%;
  background: linear-gradient(290.39deg, #000000 1.44%, #434038 111.87%);
}

#moodlight {
  width: 100%;
  height: 20vh;
  background-color: black;
}

#onetime {
  margin-bottom: -200px;
}

.footer {
  background: linear-gradient(151.83deg, #DA9D7B 12.98%, #DA7676 83.33%);
  color: white;
  height: 15vh;
  font-family: Atlasgrot;
}

.moreabout {
  width: 1200px;
  margin: auto;
}

#blackwrap {
  background: linear-gradient(173.58deg, #000000 0.77%, rgba(70, 70, 70, 0) 85.57%);
}

.wordy {
  font-family: Atlasgrot;
  font-size: 16px;
  color: white;
}

.documented {
  width: 900px;
}

.somehold {
  margin: auto;
  width: 700px;
  padding: 120px;
  background: linear-gradient(280.09deg, #E7E3D2 -3.06%, #9F9183 128.2%);
  font-family: Atlasgrot;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20vh;
}

.graddues {
  font-family: Atlasgrot;
  font-size: 16px;
  color: white;
}

#diagramhold {
  width: 300px;
  margin: auto;
  font-family: Atlasgrot;
  padding-top: 20vh;
}

.diagramaa {
  width: 300px;
}

.diagramtext {
  text-align: center;
  padding: 15px;
}

.arrowdown {
  width: 45px;
  margin: auto;
}

.arrowsize {
  width: 45px;
}

.diagramlabel {
  padding: 15px;
  border-radius: 5px;
  color: white;
  background-color: black;
  width: 150px;
  margin-left: 75px;
  text-align: center;
}

.arrowright {
  position: relative;
  left: 220px;
  top: -40px;
  margin-bottom: -80px;
}

.rightsize {
  width: 90px;
}

#showup {
  text-align: left;
  display: inline-flex;
  width: 180px;
  margin-left: 60px;
  padding: 3px;
}

#epio {
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  float: right;
  margin-left: 31px;
}

#epiosize {
  width: 60px;
}

#healthword {
  margin: 10px;
}

.arrowleft {
  position: relative;
  top: -40px;
  margin-bottom: -70px;
}

#coppyr {
  padding-top: 12vh;
  margin-left: 25px;
}
